<section [@animation-slide]>

  <div class="flex-titles">
    <div class="secao">
      <h1>Rodízios, Buffet, Carnes Especiais, Feijoada e mais!</h1>
      <h2>Conheça as melhores ofertas de restaurantes:</h2>
    </div>

  </div>
  <div class="flex-container">

    <div class="card" *ngFor='let oferta of offer$ | async'>
      <mat-card class="material-card">
        <mat-card-header>

          <mat-card-title class="card-title">{{ oferta.titulo }}</mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]="oferta.imagens[0].url" alt="Imagem Oferta">
        <mat-card-content class="card-description">
          <p>{{oferta.descricao_oferta}}</p>
          <p>Anunciado por: {{oferta.anunciante}}</p>
        </mat-card-content>

        <mat-card-content class="card-price">
          <p>{{ oferta.valor | currency:'BRL':true }}</p>
        </mat-card-content>

        <mat-card-actions class="card-button">
          <button mat-button [routerLink]="['/offer/oferta' , oferta.id]">Ver oferta</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>