<div class="container">
  <div class="oferta" *ngIf="offer !== undefined">

    <div class="row">
      <div class="col">
        <h4>{{ offer.descricao_oferta }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="offer.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let imagem of offer.imagens" [src]="imagem.url">
        </div>
        <br />
        <br />
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col text-center">
            <p>Por apenas:</p>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{ offer.valor | currency:'BRL':true }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg" (click)="adicionarItemCarrinho()">
              Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" aria-expanded="true" routerLink="como-usar">Como
                Usar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" routerLink="onde-fica">Onde Fica</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <!--Routed Views go here-->
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
