<div class="flex-container" *ngIf="offer$ | async as offer">

  <div class="flex-titles">
    <h1 class="secao">{{ offer.descricao_oferta }}</h1>
  </div>

  <aside class="mini-cards">
    <mat-card *ngFor="let imagem of offer.imagens" class="card-m"><img [src]="imagem.url"></mat-card>
  </aside>

  <div class="card-principal">
    <mat-card class="card-p"><img mat-card-image [src]="offer.imagens[0].url" alt="Imagem Oferta"></mat-card>
  </div>

  <aside class="box-info">
    <p>Por apenas:</p>

    <h1>{{ offer.valor | currency:'BRL':true }}</h1>

    <button type="button" class="btn btn-warning btn-lg" (click)="adicionarItemCarrinho()">
      Adicionar ao carrinho
    </button>

    <ul>
      <li>
        <a routerLink="como-usar">Como
          Usar</a>
      </li>
      <li>
        <a routerLink="onde-fica">Onde Fica</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <router-outlet></router-outlet>
    </div>

  </aside>

</div>