// Background Toolbarh1h2
$bodyBackground: #5B7A97;
$toolbar: #97CAEF;

// Menu Background
$navBackground: #60B683;

// Cards
$cardBackground: #60B683;
$cardHover: #B7EB21;

// ExpansionPanel
$panelBackground: #60B683;
$panelHover: #B7EB21;

// buttons
$btnColor:#60B683;
$btnHover: #B7EB21;