// Background Toolbarh1h2
$bodyBackground: #cafafe;
$toolbar: #97CAEF;

// Cards
$cardBackground: #FFFFFF;
$cardHover: #55BCC9;
$bordercardmachine:rgb(255, 255, 255);

// ExpansionPanel
$panelBackground: #FFFFFF;
$panelHover: #55BCC9;