<div class="container">
  <ng-template [ngIf]="controle" [ngIfElse]="errorHandle">
    <h1 class="secao">Consultar Pedido</h1>
  </ng-template>

  <ng-template #errorHandle>
    <h1>Pedido não encontrado</h1>
  </ng-template>
  <div class="flex-form">



    <form [formGroup]="consultaFormulario" novalidate (ngSubmit)=efetuaConsulta()>

    

      <div class="flex-item-info">
          <mat-form-field class="example-full-width">
              <input formControlName="numeroDoPedido" matInput placeholder="Digite o Numero do Pedido">
            </mat-form-field>
      
            <button mat-button type="submit">Consultar</button>

        <h1>Dados de Entrega</h1>

        <mat-form-field class="example-full-width">
          <input type="text" formControlName="endereco" matInput placeholder="Endereço">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" formControlName="numero" matInput placeholder="Número">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" formControlName="complemento" matInput placeholder="Complemento">
        </mat-form-field>

        <h1>Dados de Pagamento</h1>

        <mat-form-field class="example-full-width">
          <input type="text" formControlName="formaDePagamento" matInput placeholder="Forma de Pagamento">
        </mat-form-field>
      </div>

    </form>
    <div class="flex-item-card" *ngFor="let item of order.itens">
      <mat-card class="material-card">
        <mat-card-header>

          <mat-card-title class="card-title"> {{ item.titulo }}</mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]="item.img.url" alt="Imagem Oferta">
        <mat-card-content class="card-description">
          <p>{{ item.descricao_oferta }}</p>
          <p>Quantidade: {{ item.quantidade }}</p>
          <p>{{ item.quantidade * item.valor | currency: 'BRL': code }}</p>
          <p>{{ totalPedido() | currency: 'BRL': code }}</p>
        </mat-card-content>
      </mat-card>


      
    </div>
  </div>
</div>