
  <div class="pesquisa-compra">
    <form [formGroup]="consultaFormulario" novalidate (ngSubmit)=efetuaConsulta()>

      <ng-template [ngIf]="controle" [ngIfElse]="errorHandle">
          <h5>Informe o ID do Pedido</h5>
          <hr />
      </ng-template>

      <ng-template #errorHandle>
          <h5>Pedido não encontrado</h5>
          <hr />
      </ng-template>

      <div class="form-row">

        <div class="form-group col-md-2">

          <input type="number" class="form-control" formControlName="numeroDoPedido">
          <small *ngIf="consultaFormulario.get('numeroDoPedido').valid && consultaFormulario.get('numeroDoPedido').touched"
            class="form-text text-success">Ok</small>
          <small *ngIf="consultaFormulario.get('numeroDoPedido').invalid && consultaFormulario.get('numeroDoPedido').touched"
            class="form-text text-danger">Número do pedido Invalido</small>

        </div>

      </div>

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0" *ngFor="let item of pedido.itens">

        <div class="form-group col-sm-1" *ngIf="controle">
          <img [src]="item.img.url" class="img-fluid">
        </div>

        <div class="form-group col-sm-6 " *ngIf="controle">
          {{ item.titulo }}
          <br />
          {{ item.descricao_oferta }}
        </div>

        <div class="row" *ngIf="controleError">
          <div class="col">
            <br />
            Quantidade: {{ item.quantidade }}
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end" *ngIf="controle">
          <br />
          {{ item.quantidade * item.valor | currency: 'BRL': code }}
        </div>

      </div>

      <div class="form-group col d-flex justify-content-end" *ngIf="controleValor">
        <h4> {{ totalPedido() | currency: 'BRL': code }}</h4>
      </div>

      <div class="form-row">

        <div class="form-group col-sm-1">
          <button type="submit" class="btn btn-primary btn-xs">
            Consultar
          </button>
        </div>

      </div>

      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input type="text" class="form-control" placeholder="Endereço" autocomplete="off" formControlName="endereco">

        </div>

        <div class="form-group col-md-2">
          <input type="number" class="form-control" placeholder="Número" autocomplete="off" formControlName="numero">
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Complemento" autocomplete="off" formControlName="complemento">
        </div>

      </div>

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-2">
          <input type="text" class="form-control" placeholder="Forma de Pagamento" autocomplete="off" formControlName="formaDePagamento">
        </div>
      </div>

    </form>
  </div>
