$base-invalid-color: red;
$base-valid-color:green;

.pesquisa-compra{
    margin-top: 70px;
    margin-bottom: 60px;
}

input.ng-invalid.ng-touched {
    border: 1px solid $base-invalid-color;
}

select.ng-invalid.ng-touched {
    border: 1px solid $base-invalid-color;
}

input.ng-valid.ng-touched {
    border: 1px solid $base-valid-color;
}

select.ng-valid.ng-touched {
    border: 1px solid $base-valid-color;
}

button{
    background-color: rgb(134, 160, 230);
}
