<div class="container">

  <ng-template [ngIf]="order !== undefined" [ngIfElse]="errorHandle">
    <h1 class="secao">Consultar Pedido</h1>
  </ng-template>

  <ng-template #errorHandle>
    <h1 class="secao-danger">Pedido não encontrado</h1>
  </ng-template>

  <div class="flex-search">
    <mat-form-field class="input-width">
      <input type="number" matInput placeholder="Digite o Numero do Pedido" [formControl]="numPedido">
    </mat-form-field>
    <button mat-button type="submit" (click)=efetuaConsulta() color="primary">Consultar</button>
  </div>

  <div class="flex-form">

    <form [formGroup]="consultaFormulario" novalidate>

  
        <h2>Dados de Entrega</h2>

        <mat-form-field class="example-full-width">
          <input type="text" formControlName="endereco" matInput placeholder="Endereço">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="number" formControlName="numero" matInput placeholder="Número">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" formControlName="complemento" matInput placeholder="Complemento">
        </mat-form-field>

        <h2>Dados de Pagamento</h2>

        <mat-form-field class="example-full-width">
          <input type="text" formControlName="formaDePagamento" matInput placeholder="Forma de Pagamento">
        </mat-form-field>
  

    </form>

    <div class="expansion" *ngIf="order !== undefined">
    <mat-expansion-panel *ngFor="let item of order.itens">
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{item.titulo}}
        </mat-panel-title>
        <mat-panel-description>
        {{item.descricao_oferta}}
        </mat-panel-description>
      </mat-expansion-panel-header>
 
        <div class="flex-item-card" >
          <mat-card class="material-card">
            <mat-card-header>
  
              <mat-card-title class="card-title"> {{ item.titulo }}</mat-card-title>
  
            </mat-card-header>
            <img mat-card-image [src]="item.img.url" alt="Imagem Oferta">
            <mat-card-content class="card-description">
              <p>{{ item.descricao_oferta }}</p>
              <p>Quantidade: {{ item.quantidade }}</p>
              <p>{{ item.quantidade * item.valor | currency: 'BRL' }}</p>
              <p>{{ totalPedido() | currency:'BRL':true}}</p>
            </mat-card-content>
          </mat-card>
        </div>
    
    
      </mat-expansion-panel>
    </div>
 


  </div>
</div>

