@import '../../shared/utils/color';

.navbar {
    padding: 30px;
    text-align: center;
    background: $navBackground;
    button {
        font-size: 1.5em;
        margin: 5px;
        background: $btnColor;
        color: white;
    }
    button:hover {
  
       
    }
   
}


.navmobol {
    display: none;
}

@media screen and (max-width: 616px) {

    .mat-menu-item {
        background: none;
    }

    .navbar {
        display: none;
    }

    .navmobol {
        mat-icon{
            font-size: 50px;
        }
    
        display: flex;
        justify-content: flex-end;
    }
}