<nav class="navbar">

    <button mat-button routerLinkActive="active" routerLink="">Home</button>

    <button mat-button routerLinkActive="active" routerLink="categoria/restaurantes">Restaurantes</button>

    <button mat-button routerLinkActive="active" routerLink="categoria/diversao">Diversão</button>
   
    <button mat-button routerLinkActive="active" routerLink="crud/consulta-pedido">Consultar Pedido</button>
 
    <button mat-button routerLinkActive="active" routerLink="crud/altera-pedido">Alterar Pedido</button>

    <button mat-button routerLinkActive="active" routerLink="crud/deleta-pedido">Excluir Pedido</button>

</nav>








<nav class="navmobol">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="navmobol">list</mat-icon>
      </button>
      <mat-menu #menu="matMenu" style="width: 100%;">
        <button mat-menu-item>
          <mat-icon>local_dining</mat-icon>
          <span class="menulink" routerLinkActive="active" routerLink="categoria/restaurantes">Restaurantes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>gamepad</mat-icon>
          <span routerLinkActive="active" routerLink="categoria/diversao">Diversão</span>
        </button>
        <button mat-menu-item>
          <mat-icon>search</mat-icon>
          <span class="menulink" routerLinkActive="active" routerLink="crud/consulta-pedido">Consultar Pedido</span>
        </button>
      
        <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span class="menulink" routerLinkActive="active" routerLink="crud/altera-pedido">Alterar Pedido</span>
          </button>
      
          <button mat-menu-item>
              <mat-icon>clear</mat-icon>
              <span class="menulink" routerLinkActive="active" routerLink="crud/deleta-pedido">Excluir Pedido</span>
          </button>
      
          <button mat-menu-item>
              <mat-icon>add_shopping_cart</mat-icon>
              <span class="menulink" routerLinkActive="active" routerLink="order-purchase/ordem-compra">Meu Carrinho</span>
          </button>
      </mat-menu>
</nav>



<!--
    <input type="checkbox" id="chk">

    <div class="search-area">
      <input type="search" #termoDaPesquisa (input)="search(termoDaPesquisa.value)"/>
        <div class="list-group">
          <ul>
            <li class="list-group-item" *ngFor="let oferta of offers | async">
              <p [routerLink]="['offer/oferta', oferta.id]" (click)="limpaPesquisa()">
                {{ oferta.titulo | descricaoReduzida: 15:0 }}
              </p>
            </li>
          </ul>
        </div>
        <i class="fa fa-search"></i>
    </div>
    -->