<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
  
  <div class="header">
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <div class="search-area">
      <input type="search" #termoDaPesquisa (keyup)="search(termoDaPesquisa.value)"/>
        <div class="list-group">
          <ul>
            <li class="list-group-item" *ngFor="let oferta of offers | async">
              <span [routerLink]="['/oferta', oferta.id]" (click)="limpaPesquisa()">
                {{ oferta.titulo | descricaoReduzida: 15:0 }}
              </span>
            </li>
          </ul>
        </div>
        <i class="fa fa-search"></i>
    </div>

    <ul class="menu">
      <a class="menulink" routerLinkActive="active" routerLink="">Home</a>
      <a class="menulink" routerLinkActive="active" routerLink="/restaurantes">Restaurantes</a>
      <a class="menulink" routerLinkActive="active" routerLink="/diversao">Diversão</a>
      <a class="menulink" routerLinkActive="active" routerLink="/consulta-pedido">Consultar Pedido</a>
      <a class="menulink" routerLinkActive="active" routerLink="/altera-pedido">Alterar Pedido</a>
      <a class="menulink" routerLinkActive="active" routerLink="/deleta-pedido">Deletar Pedido</a>
      <a><img src="../../assets/cart.png" routerLinkActive="active" routerLink="/ordem-compra"><span class="badge badge-info">{{cartService.getCartQt()}}</span></a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>

</body>

</html>