*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
  
  }
  
  .menu{
    float: left;
    line-height: 100px;
  }

  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
  }
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #3498db;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }

  .search-area{
    float: right;
    margin-top: 50px;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
  }

  .search-area:hover{
    width: 200px;
    cursor: pointer;
}

.search-area:hover input{
    display: block;
}

.search-area:hover .fa{
    background:  #34495e;
    color: white;
}

  .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color:  #34495e;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.list-group {
   z-index: 9999;
  
}

  @media screen and (max-width:1000px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
      z-index: 999;
    }
    .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #333;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a{
      display: block;
      padding: 20px;
    }
    .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
  }
  